body {
  background-color: #efefef;
}

#ytplayer {
  display: flex;
  margin: 0 auto;
  height: 360px;
  width: 640px;
}

#controls {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

#controls * {
  padding: 20px;
  background-color: white;
  border-radius: 30px;
}
